@font-face {
	font-family: ocr a std regular;
	src: url("../assets/OCR.ttf");
}

$mainFont: ocr a std regular;
$menuColor: #707070;
$mainBorder: .5px solid $menuColor;


$fontSizeLarge: 3vw;
$fontSizeMedium: .9vw;
$fontSizeSmall: .5vw;



html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: $mainFont;
}

canvas {
	display: block;
	margin: 10px auto;
	image-rendering: auto;
}

button {
	font-family: Arial;
	font-size: 2em;
	min-width: 2em;
	cursor: pointer;
	border: none;
	background-color: #008CBA;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
	text-decoration: none;
	color: inherit;
}

#topBar {
	width: 95vw;
	display: flex;
	justify-content: start;
	align-items: center;
}

#logo {
	width: 5%;
	margin: 1% 3%;
}

#mainTitle {
	font-family: $mainFont;
	font-size: 2em;
	color: $menuColor;

}








#mainMenu {
	display: flex;
	flex-direction: column;
	font-family: $mainFont;
	width: 35vw;
	height: 70vh;
	margin: 0 auto;
}

#mainMenuTitle {
	font-size: 5.5em;
	text-align: center;
	width: 100%;
	color: $menuColor;
	margin: 5% 0 4% 0;
}

.mainMenuButton {
	@extend #mainMenuTitle;
	font-weight: normal;
	font-size: 2em;
	border-radius: 5px;
	border: $mainBorder;
	width: 75%;
	height: 12%;
	margin: 5% auto;
}

.linkBox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}



#instructions {
	width: 95vw;
	height: 75vh;
	margin: auto;
}

#infoCards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
	height: 70%;
	margin: auto;
	.backButton{
		width: 2%;
		height: 5%;
		align-self: center;
		margin: 0;
		padding: 2%;
	}
}

.card {
	width: 35%;
	// height: 70%;
	border: $mainBorder;
	border-radius: 10px;
	font-family: $mainFont;
	color: $menuColor;
}

.cardTitle {
	font-size: $fontSizeLarge;
	padding: 5%;
	border-bottom: $mainBorder;
}

.cardContent {
	padding: 5% 10%;
	font-size: $fontSizeMedium;
}

#upgradesBar {
	width: 80vw;
	height: 25%;
	margin: 2% auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: $mainBorder;
	border-radius: 10px;
	font-family: $mainFont;
	color: $menuColor;

}

#upgradesBarTitle {
	font-size: $fontSizeLarge;
	align-self: center;
}

.upgradeInfoCard {
	width: 15%;
	border: $mainBorder;
	padding: 1%;
}

.upgradeInfoCardTitle {
	font-size: $fontSizeMedium;
}

.upgradeInfoCardImg {
	height: 50%;
}

.upgradeInfoCardContent {
	font-size: $fontSizeSmall;
}


#gameArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 95vw;
	height: 100vh;
	margin: auto;
}

#sideBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	height: 80vh;
	align-items: center;

	#logo {
		width: 50%;
	}
}

#gameSection {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../assets/back.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	width: 50%;
	height: 100%;
}

.backButton {
	font-size: $fontSizeMedium;
	text-align: center;
	margin: 10%;
	padding: 5%;
	border: $mainBorder;
	border-radius: 5px;
	width: 80%;
}




#gameMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;

	#infoCards {
		align-items: center;
	}
	.cardContent{
		img{
			width: 100%;
		}
	}
}